
td.channel-status {
  text-align: center;
  width:5%;
}

input.channel-cron-limit {
  text-align: right;
}

.form-label{
	float:left;
	background:#E1E2DC;
	margin-right:5px;
  padding:0 5px;
  min-width:130px;
  border:1px solid #BEBFB9;
  }
  
.form-label-cr{
  background:#E1E2DC;
  border:1px solid #BEBFB9;
  padding:0 5px;
  margin-bottom:5px;
	}

.disabled{
	background:url("./img/disabled.png") no-repeat scroll 125px center;
  padding-left:140px;
	}

table#streams-list tr.odd td.active{
  background-color:#F3F4EE;
	}
table#streams-list td.active{
	background-color: #E9E9DD;
	}

table#streams-list tr.odd td.disabled{
	padding-left: 25px;
	background:url("./img/disabled.png") no-repeat scroll 10px center;
	}
table#streams-list td.disabled{
  padding-left: 25px;
  background:url("./img/disabled.png") no-repeat scroll 10px center;
  }
table#streams-list tr.odd td.enabled{
  padding-left: 25px;
  background:url("./img/enabled.png") no-repeat scroll 10px center;
  }
table#streams-list td.enabled{
  padding-left: 25px;
  background:url("./img/enabled.png") no-repeat scroll 10px center;
  }
table#streams-list input.priority{
	background:transparent;
	text-align:center;
	border:0;
	}

.enabled{
   background:url("./img/enabled.png") no-repeat scroll 125px center;
   padding-left:140px;
   }
   
table .enabled{
  padding-left: 25px;
  background-position: 10px center;
  }

.info-center{
	 text-align:center;
	 }
.info-warning{
	 color:#f00;
	 }

.fieldset-description{
	 margin-bottom:5px;
	 }

.desc{
	 width:20%;
	}
	
.streams{
	margin-top:20px;
	}
	